<div class="left-nav-bar">
  <div class="content">
    <a class="nav-bar-item">
      Games
    </a>
    <a class="nav-bar-item">
      Reports
    </a>
    <a class="nav-bar-item underlined">
      Facilitators
    </a>
    <a class="nav-bar-item">
      Settings
    </a>
    <a class="nav-bar-item">
      Feedback
    </a>
    <a class="nav-bar-item">
      Guidelines
    </a>
    <a class="nav-bar-item last">
      Logout
    </a>
  </div>
</div>

<div class="header">
  <div class="container">
    <p class="header-text">User Profile Icon and Placeholder Text</p>
  </div>
</div>

<div class="container second-header-offset facilitator-container">
  <div class="facilitator-header-grid">
    <div class="first-column">
      <h1>Facilitators</h1>
      <button class="wonder-button add-fac">Add Facilitator</button>
    </div>
    <div>
      <h1>Players</h1>
      <div class="custom-dropdown">
        <button class="custom-dropdown-toggle" (click)="toggleDropdown()">{{selectedPlayer ? selectedPlayer : 'Select Player'}}</button>
        <ul class="custom-dropdown-menu" [hidden]="!isDropdownOpen">
          <li *ngFor="let player of players" (click)="selectPlayer(player)">{{ player }}</li>
        </ul>
      </div>

    </div>

    </div>
</div>
