<div class="left-nav-bar">
  <div class="content">
    <a class="nav-bar-item">
      Games
    </a>
    <a class="nav-bar-item">
      Reports
    </a>
    <a class="nav-bar-item underlined">
      Facilitators
    </a>
    <a class="nav-bar-item">
      Settings
    </a>
    <a class="nav-bar-item">
      Feedback
    </a>
    <a class="nav-bar-item">
      Guidelines
    </a>
    <a class="nav-bar-item last">
      Logout
    </a>
  </div>
</div>

<div class="header">
  <div class="container">
    <p class="header-text">User Profile Icon and Placeholder Text</p>
  </div>
</div>

<div class="container second-header-offset facilitator-container">
  <div class="facilitator-header-grid">
    <div class="first-column">
      <h1>Facilitators</h1>
      <button class="wonder-button add-fac">Add Facilitator</button>
    </div>
    <div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <h1>Players</h1>

    </div>

    </div>
</div>
