/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100% !important;
}

body {
  //min-height: 100%;
}


* {
  font-family: Lato, sans-serif;
}

:root {
  ---header-offset: 80px;
  ---round-2-header-offset: 10rem;
  ---header-z-index: 100;
  ---primary-accent-color: #212529;
}

//.container {
//  margin-top: var(---header-offset);
//  padding: 24px;
//
//  border: 1px solid lightgray;
//  border-radius: 12px;
//  background-color: rgba(lightgray, 0.25);
//}

.second-header-offset {
  margin-top: var(---round-2-header-offset);
}

.wonder-button {
  background-color: #f6c344;
  border-radius: 4px;
  padding: 0.125rem 1rem;
  border: none;
}

//.btn {
//  padding: 8px;
//  font-weight: bold;
//}
//
//.btn {
//  border-radius: 12px;
//}

.card {
  border-radius: 12px;
}

.header-offset {
  margin-top: var(---header-offset);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-2.5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



