<div class="landing-background"></div>

<div class="auth-container">
  <ng-container *ngIf="signIn === false && signUp === false">
    <h1 class="landing-title">Welcome</h1>
    <button
      (click)="showSignInForm()"
      class="btn btn-outline-light landing-button"
      type="button"
    >
      Sign In
    </button>
    <button
      (click)="showSignUpForm()"
      class="btn btn-outline-light landing-button"
      type="button"
    >
      Sign Up
    </button>
  </ng-container>

  <ng-container *ngIf="signIn">
    <form [formGroup]="signInForm" id="signIn">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          class="input-group-text"
          formControlName="email"
          id="email"
          placeholder="Email Address"
          type="email"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">#</span>
        <input
          class="input-group-text"
          formControlName="password"
          id="password"
          placeholder="Password"
          type="password"
        />
      </div>
    </form>
    <button
      (click)="doSignIn()"
      *ngIf="signIn"
      [disabled]="!signInForm.valid"
      class="btn btn-outline-light landing-button"
      type="submit"
    >
      Sign In
    </button>
  </ng-container>

  <ng-container *ngIf="signUp">
    <form [formGroup]="signUpForm" id="signUp">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">@</span>
        <input
          class="input-group-text"
          formControlName="email"
          id="name-register"
          placeholder="Email Address"
          type="email"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">~</span>
        <input
          class="input-group-text"
          formControlName="name"
          id="email-register"
          placeholder="Your Name"
          type="text"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon5">#</span>
        <input
          class="input-group-text"
          formControlName="password"
          id="password-register"
          placeholder="Password (Min length: 6)"
          type="password"
        />
      </div>
    </form>

    <button
      (click)="doSignUp()"
      *ngIf="signUp"
      [disabled]="!signUpForm.valid"
      class="btn btn-outline-light landing-button"
      type="submit"
    >
      Sign Up
    </button>
  </ng-container>
  <button
    (click)="back()"
    *ngIf="signIn || signUp"
    class="btn btn-outline-light landing-button"
    type="button"
  >
    Back
  </button>
</div>
